*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: rgba(128, 128, 128, 0.616);
}
nav a{
    font-size: 20px;
}
.purple{
    color: purple;
}
#one{
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.616), rgba(31, 30, 31, 0.849));
    min-height: 60vh;
}
#one .container, #two .container, #major .container, #contact .container{
    min-width: 100%;
}
#one .left{
    min-height: 100vh;
    min-width: 55%;
}
#one .left h1{
    line-height: 50px;
    width: 90%;
}
#one .left h5{
    width: 100%;
}
#one .right{
    width: 45%;
}
#one .right img{
    height: 300px;
}
#one .right h6{
    font-size: 20px;
    letter-spacing: 1px;
}
#two{
    min-height: 80vh;
    background-image: linear-gradient(to bottom, rgba(31, 30, 31, 0.849), rgba(0, 0, 0, 0.822));
}
#two .left{
    min-width: 50%;
    min-height: 80vh;
}
#two .left h2, #two .right h2{
    font-size: 23px;
    width: 80%;
    line-height: 30px;
}
#two .right{
    min-width: 50%;
}
#two a{
    font-size: 20px;
}

#major{
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.616), rgb(31, 30, 31));
}
#major .line{
    background-color: purple;
    height: 4px;
    width: 150px;
    top: 210px;
    left: 53px;
}
#major .left{
    min-width: 55%;
    min-height: 100vh;
}
#major .left h1{
    font-size: 55px;
}
#major .left h3{
    font-size: 20px;
    line-height: 28px;
}
#major .right{
    min-width: 45%;
    min-height: 100vh;
}
#major .right h4{
    font-size: 20px;
}
#major .right h2{
    font-size: 23px;
}

#contact{
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.616), rgb(31, 30, 31));
    min-height: 93vh;
}
#contact .container{
    min-height: 80vh;
}
#contact .mid{
    background-color: rgba(128, 0, 128, 0.151);
    box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.151);
    height: 500px;
    width: 550px;
}
#contact .mid h1{
    font-size: 50px;
}
#contact .mid input{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}
#contact .mid input::placeholder{
    color: rgba(255, 255, 255, 0.664);
}
#contact .mid .inp input{
    width: 150px;
    height: 40px;
}
#contact .mid h4{
    font-size: 15px;
}
#contact .mid h6{
    font-size: 13px;
    width: 80%;
    line-height: 20px;
}

/* TABLET MODE */
@media (max-width: 768px){
    #one .left h1{
        line-height: 40px;
        width: 100%;
    }
    #one .right img{
        height: 200px;
    }
    #two .left h2, #two .right h2, #major .right h2{
        font-size: 20px;
    }
    #major .line{
        display: none;
    }
    #major .left h1{
        font-size: 45px;
    }
    #major .left h3, #major .right h4{
        font-size: 18px;
    }
    #contact .mid h1{
        font-size: 40px;
    }
}
/* LARGE MOBILE SCREEN */
@media (max-width: 425px){
    nav .logo h3, #major .right h4{
        font-size: 16px;
    }
    nav ul li a{
        font-size: 12px;
    }
    .fcols{
        flex-direction: column;
    }
    .mwid{
        min-width: 100%;
    }
    #one .left{
        padding-left: 30px;
    }
    #one .left, #one .right, #two .left, #two .right, #major .left, #major .right{
        min-height: 50vh;
    }
    #one .left h1{
        line-height: 33px;
        font-size: 25px;
        width: 90%;
    }
    #one .left h5{
        width: 90%;
        font-size: 18px;
        line-height: 28px;
    }
    #one .right h6, #major .right h2{
        font-size: 18px;
    }
    #two .right{
        padding-left: 25px;
    }
    #major .left{
        margin-bottom: 20px;
    }
    #major .left h1{
        font-size: 35px;
    }
    #major .left h3{
        font-size: 15px;
        line-height: 22px;
        color: black;
    }
    #major .right{
        color: whitesmoke;
    }
}